* {
  font-family: 'Arapey', serif;
}

img {
  width: 150px;
  height: 450px;
}

body {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 200px;
}

h4, h5 {
  text-decoration: underline;
}


#favourite-beer {
  /* width: 60%; */
  text-align: center;
  margin: auto;
}

#favourite-beer p{
  padding: 20px;
  display: inline-block;
  border: 1px solid black;
  min-width: 250px;
  max-width: 250px;
  height: 50px;
  margin: 3px;
  border-radius: 10px;
}

#favourite-beer button{
  list-style: none;
  display: block;
  margin: auto;
  margin-top: 10px;
}
